<h1 mat-dialog-title>Hi New Member </h1>
<form fxLayout="column" fxLayoutGap="15px" [formGroup]="fb" (ngSubmit)="onSubmit()" mat-dialog-content>
    <mat-form-field>
        <input formControlName="email" placeholder="Enter Your Email" matInput type="email">
        <mat-error *ngIf="fb.controls.email.hasError('email') && !fb.controls.email.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="fb.controls.email.hasError('required')">
            Your Email Is Required
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input formControlName="password" placeholder="Enter Your Password" matInput type="password">
    </mat-form-field>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div class="sign-btn">
        <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
        <button mat-raised-button type="submit" color="accent" [disabled]='loading'>Sign Up</button>
    </div>
</form>