<mat-card>
    <mat-card-header>
        <mat-card-title class="title">
            Bounce Rate
        </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row">
        <mat-icon class="icon">swap_horiz</mat-icon>
        <div class="number">
            <span>{{totalBounceRate}}</span>
            <mat-progress-spinner *ngIf="bounceLoad" style="float: right;" [diameter]="30" mode="indeterminate"></mat-progress-spinner>
        </div>
    </mat-card-content>
</mat-card>