<section *ngIf="authService.getUser() == null;" class="login-container">
    <mat-card class="card-container mat-elevation-z7">
        <mat-card-header class="header">
            <mat-card-title class="title">
                <h2>Login</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutGap="50px">
            <form [formGroup]="fb" (ngSubmit)="onLogin()" fxLayout='column' fxLayoutGap="15px" class="form-container">
                <mat-form-field>
                    <input formControlName="email" type="email" name="email" id="email" matInput
                        placeholder="Your Email">
                    <mat-error *ngIf="fb.controls.email.hasError('email') && !fb.controls.email.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="fb.controls.email.hasError('required')">
                        Your Email Is Required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="password" type="password" name="password" id="password" matInput
                        placeholder="Your Password">
                    <mat-error *ngIf="fb.controls.password.hasError('required')">
                        Your Password Is Required
                    </mat-error>
                </mat-form-field>
                <div class="reset-pass">
                    <small class="reset-pass-text" (click)="onResetPassword(this.fb.value.email)">Forgot Password?</small>
                    <small class="register-text" (click)="onRegister()">Register</small>
                </div>
                <button mat-raised-button color="primary" [disabled]="loading" type="submit">Login</button>
                
            </form>
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

            <div fxLayout="column" fxLayoutGap="15px" class="social-media">
                <span>Or Login With:</span>
                <div fxLayout="row" fxLayoutGap="15px">
                    <img (click)="onSignInFacebook()" class="img-icon" src="./assets/facebook-50.png" width="50px">
                    <img (click)="onSignInGoogle()" class="img-icon" src="./assets/google-50.png" width="50px">
                    <img (click)="onSignInTwitter()" class="img-icon" src="./assets/twitter-50.png" width="50px">
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>