.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(../../../assets/background-login.jpg);
    background-size: cover;
    transition: 1s ease-in-out;
}

.form-container{
    width: 280px;
    height: 200px;
    transition: 0.8s ease-in-out;
}

.card-container{
    padding: 50px 25px;
}

.title{
    color: #504a4a;
    text-align: center;
}

.header{
    display: flex;
    justify-content: center;
}

.reset-pass{
    width: 100%;
    
}

.reset-pass-text{
    cursor: pointer;
    float: right;
}

.register-text{
    cursor: pointer;
    float: left;
}

.reset-pass-text:hover{
    color: #12c1f5;
    transition: 0.3s ease-in-out;
}

.register-text:hover{
    color: #12c1f5;
    transition: 0.3s ease-in-out;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-icon{
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.img-icon:hover{
    border-radius: 40%;
    background: #12c1f5;
}