<mat-toolbar class="navigation mat-elevation-z8">
    <button mat-icon-button class="button-drawer" (click)="sidenav.toggle()"><i class="material-icons">
            <mat-icon>menu</mat-icon>
        </i></button>
    <span routerLink="" class="cursor">Octomate</span>
    <span class="spacer"></span>
    <h5 class="email">{{authService.getUser().email}}</h5>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>{{authService.getUser().email}}</span>
        </button>
        <button mat-menu-item (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log out</span>
        </button>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="container">
    <mat-sidenav #sidenav class="sidenav" [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'">
        <mat-list role="list">
            <mat-list-item class="cursor theme-menu" role="listitem" *ngFor="let menu of menus"
                routerLink="{{menu?.routerLink}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon [matBadgeHidden]="!visible" matBadge="{{menu?.badge}}" matBadgeColor="{{menu?.badgeColor}}">
                    {{ menu?.icon }}</mat-icon>
                {{ menu?.name }}
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
            <router-outlet #o="outlet"></router-outlet>
        </main>

    </mat-sidenav-content>
</mat-sidenav-container>