.navigation {
    height: 50px !important;
    background-color:  #2979ff;;
    color: #fff;
    z-index: 2;
    position: fixed;
}
.container {
    height: calc(100vh - 50px);
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 1;
    transition: 0.5 ease-in-out;
  }
  
  .sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    box-shadow: 0 2px 2px #ccc;
    overflow: hidden;
    background: url(../../../assets/background-login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }

.menu{
    font-size: 14px;
    color: snow;
    outline: none;
}
.menu:hover{
    background: #dabb76;
    color: #000;
    transition: all 0.5s ease;
}

.menu .mat-icon{
    margin-right: 5px;
    font-size: 22px
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 0.5px solid grey;
}

.sidenav-content {
    padding: 10px 20px;
    padding: 10px;
    color: grey;
}

.icon-images{
    margin-right:5px
}

.telegram-text-container{
    display: flex; 
    align-items:center;
}

.theme-card{
    width: 520px;
    color: snow;
  }
  
  .theme-card .centered button{
    color: snow;
  }
  
   .theme-menu{
    font-size: 14px !important;
    color: snow !important;
    outline: none;
  } 

  .theme-menu:hover{
    background: #75a7ff;
    color: #000;
    transition: all 0.5s ease;
  }

  .theme-menu .mat-icon{
    margin-right: 5px;
    font-size: 22px
  }

  .theme-menu-link{
      color:snow; 
      text-decoration:none;
      font-size: 14px;
      margin-top:10px;
  }

  .active {
    background: #75a7ff;
    color: #000;
    transition: all 0.5s ease;
  }

  .email{
    display: block;
  }

  @media (max-width:376px){
    .email{
      display: none;
    }
  }

  