.map-container {
    position: relative;
    width: 100%;
    height: 400px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

//   @media (max-width:"959px"){
//     .map-container{
//         // top:
//     }
//   }