<mat-card >
    <mat-card-header>
        <mat-card-title class="title">
            Total Page View
        </mat-card-title> 
    </mat-card-header>
    <mat-card-content fxLayout="row">
        <mat-icon class="icon">timeline</mat-icon>
        <div class="number">
            <span>{{totalPageView}}</span>
            <mat-progress-spinner *ngIf="pageViewLoad" style="float: right;" [diameter]="30" mode="indeterminate"></mat-progress-spinner>
        </div>
    </mat-card-content>
</mat-card>