<mat-card>
    <mat-card-header>
        <mat-card-title class="title">
            Total Visitor
        </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row">
        <mat-icon class="icon">people</mat-icon>
        <div class="number">
            <span>{{totalVisitors}}</span>
            <mat-progress-spinner *ngIf="visitorLoad" style="float: right;" [diameter]="30" mode="indeterminate">
            </mat-progress-spinner>
        </div>
    </mat-card-content>
</mat-card>