<div fxLayout="column" fxLayoutGap="15px" style="margin-top:30px">
    <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column">
        <app-total-visitor [totalVisitors]="totalVisitors" [visitorLoad]="visitorLoad" fxFlex="25"></app-total-visitor>
        <app-total-page-views [totalPageView]="totalPageView" [pageViewLoad]="pageViewLoad" fxFlex="25"></app-total-page-views>
        <app-top-visits [totalVisits]="totalVisits" [visitLoad]="visitLoad" [totalVisits]="totalVisits" fxFlex="25"></app-top-visits>
        <app-bounce-rate [totalBounceRate]="totalBounceRate" [bounceLoad]="bounceLoad" fxFlex="25"></app-bounce-rate>
    </div>
    <div fxLayout="row" fxLayoutGap="15px">
        <app-map fxFlex="100"></app-map>
        <!-- <app-map fxFlex="60"></app-map> -->
    </div>
</div>