<mat-card >
    <mat-card-header>
        <mat-card-title class="title">
            Top Visits
        </mat-card-title> 
    </mat-card-header>
    <mat-card-content fxLayout="row">
        <mat-icon class="icon">people</mat-icon>
        <div class="number">
            <span>{{totalVisits}}</span>
            <mat-progress-spinner *ngIf="visitLoad" style="float: right;" [diameter]="30" mode="indeterminate"></mat-progress-spinner>
        </div>
    </mat-card-content>
</mat-card>
