/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.spacer{
    flex: 1 1 auto;
}

.cursor{
    cursor: pointer;
}

.maintenance-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: radial-gradient(ellipse farthest-corner at right bottom,#fedb37 0,#fdb931 8%,#9f7928 30%,#a2884c 40%,transparent 80%),radial-gradient(ellipse farthest-corner at left top,#fff 0,#ffffac 8%,#d1b464 25%,#988354 62.5%,#d2c29d 100%);;
    background-size: cover;
    background-repeat: no-repeat;
  }